// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.article {
    &__content {
        border: 1px solid black;
        border-radius: .2rem;
        background-color: white;
        padding: 1rem;
        position: relative;
    }
}

.articles {
    &__item {
        flex: 1 100%;
        padding: 1rem;
        margin: 1rem 0;
        border: 1px solid black;
        border-radius: .2rem;
        background-color: white;
        position: relative;
        transition: transform 200ms ease-in-out;

        &:hover {
            transform: scale(102%);
        }
    }
    
    &__item-header {
        display: flex;
        justify-content: space-between;
    }
}
