// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comment {
    padding: 1rem;
    margin: 1rem 0;
    background: white;
    border: 1px solid black;
    border-radius: 0.2rem;
    display: flex;
    position: relative;
    opacity: 0%;
    animation: fadeIn 200ms ease-in forwards;

    & > *:first-child {
        width: 10rem;
        display: flex;
        flex-direction: column;
    }
}

.comments {
    display: flex;
    flex-wrap: nowrap;
    margin: 1rem 0;
    gap: 1rem;
    
    & > *:first-child {
        width: 75%;
    }
    
    .comments__form {
        h3 {
            padding-bottom: 0.5rem;
        }

        input,
        textarea {
            width: 100%;
        }
    }
}

@keyframes fadeIn {
    0% { opacity: 0%; top: 1rem; }
    100% { opacity: 100%; top: 0; }
}